.wrapper {
  max-width: 104rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 4rem;
}

.header {
  margin: 7.2rem 0 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  height: 18rem;
  width: 50rem;
  background: url("images/logo.svg") no-repeat;
  background-size: contain;
  text-indent: -999rem;
  margin-bottom: 2.4rem;
  max-width: 100%;
}

.subtitle {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 9.6rem;
}

.ctas {
  display: grid;
  justify-items: center;
  gap: 1.6rem;
  list-style: none;
  padding: 0;
}

@media (min-width: 540px) {
  .ctas {
    grid-auto-flow: column;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 720px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }
}

.feature {
  border-width: 2.4rem;
  border-style: solid;
  border-image: var(--blob-1) 25% 10% fill stretch;
}

.feature:nth-child(2n + 1) {
  border-image-source: var(--blob-2);
}

.featureTitle {
  font-size: var(--ms-1);
  font-weight: 900;
}

.footer {
  margin: 2.4rem 0;
}
