.wrapper {
  padding-bottom: 2.4rem;
}

@media (min-width: 960px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  padding: 1.8rem;
  padding-top: 1.2rem;
  background-color: var(--color-background);
  box-shadow: 0 0.1rem 0 0 var(--color-surface);
}

@media (min-width: 960px) {
  .sidebar {
    padding: 4rem;
    padding-top: 3.4rem;
    box-shadow: none;
  }
}

.content {
  padding: 4rem;
}

.neighbors {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 7.2rem;
}

.neighbor.next {
  margin-left: auto;
}

.neighbor.prev {
  margin-right: auto;
}

.neighborLink {
  display: block;
  text-decoration: none;
  font-size: var(--ms-1);
}

.neighborLabel {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #999;
  font-weight: 400;
  font-size: var(--ms-0);
  line-height: var(--ms-0);
}

.neighborLabel > svg {
  margin-top: -0.4rem;
}

.neighbor.prev .neighborLabel {
  justify-content: flex-start;
}

.neighbor.next .neighborLabel {
  justify-content: flex-end;
}

.footer {
  grid-column: 2;
  margin-top: 2.4rem;
}
