.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  height: 4rem;
  width: 12rem;
  background: url("images/wordmark.svg") no-repeat;
  background-size: contain;
  text-indent: -999rem;
}

@media (min-width: 960px) {
  .logo {
    height: 6rem;
    width: 18rem;
    margin-bottom: 3.2rem;
  }
}

.toggle {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.toggle > svg {
  pointer-events: none;
}

@media (min-width: 960px) {
  .toggle {
    display: none;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 2.4rem 3.2rem;
  padding-right: 4.8rem;
  background-color: var(--color-background);
  box-shadow: inset -0.1rem 0 0 0 var(--color-surface);
  transform: translateX(-100%);
  transition: 0.25s transform ease-in-out;
}

.backdrop {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000099;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s opacity ease;
}

.nav[aria-hidden="false"] {
  transform: translateX(0);
}

.nav[aria-hidden="false"] + .backdrop {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 960px) {
  .nav {
    position: static;
    padding: 0;
    transform: none !important;
    box-shadow: none;
    transition: none;
  }

  .backdrop {
    opacity: 0;
    pointer-events: none;
  }
}

.menu {
  margin-bottom: 1.8rem;
}

.sectionTitle {
  font-weight: 900;
  letter-spacing: -0.1ch;
}

.sectionTitle:not(:first-child) {
  margin-top: 1em;
}

.link {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.8rem;
  align-items: center;
  font-weight: 400;
  letter-spacing: -0.1ch;
  text-decoration: none;
}

.link.active {
  font-weight: 900;
  cursor: default;
}

.link::after {
  content: "";
  margin-top: -0.6rem;
}

.link.active::after {
  display: block;
  width: 1.6rem;
  height: 2.2rem;
  background: url("./bullet.svg") center no-repeat;
}

.navItem:nth-child(2n + 1) > .link::after {
  transform: rotate(12deg);
}
.navItem:nth-child(3n + 2) > .link::after {
  transform: rotate(-8deg);
}
.navItem:nth-child(5n + 3) > .link::after {
  transform: rotate(16deg);
}
.navItem:nth-child(7n + 5) > .link::after {
  transform: rotate(-4deg);
}

.actions {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1.6rem;
  justify-content: start;
  padding: 0;
}

.theme {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:global(html.day) .theme.day,
:global(html.night) .theme.night {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :global(html:not(.day)) .theme.night {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :global(html:not(.night)) .theme.day {
    display: none;
  }
}

.themeIcon {
  pointer-events: none;
}
